<search-trip [tripsInfo] = "tripsInfo" (destinationChange) = "onDestinationChange($event)"  (endDateChange)="onEndDateChanged($event)" (ratingChange) = "onRatingChanged($event)" (priceRangeChange)="onPriceRangeChanged($event)" (beginDateChange)="onBeginDateChanged($event)"></search-trip>
<div class="trips">
  <ng-container *ngFor="let trip of (trips |
  searchDate : minDate : maxDate |
  searchPrice : minPrice : maxPrice |
  searchRating : rating |
  searchDestination :destination)">
    <trip *ngIf="isVisible(trip)" [trip] = "trip" (tripRemoved)="onTripRemoved($event)"
    [ngClass]= 
    "{
    'cheapest-trip': isCheapest(trip),
    'most-expensive-trip': isMostExpensive(trip)
    }">
    </trip>
  </ng-container>
</div>
<button (click)="checkLogin()" class="btn btn-secondary">sprawdz zalogowanie!</button>