<div class="d-flex">
  <div class="card text-center" [ngClass]="{'my-card': !editMode, 'card-edit-mode': editMode}">
    <img src="{{trip.photo}}" class="card-img-top">
    <div class="card-body">
      <h3 class="card-title">{{trip.name}}</h3>
      <p class="card-text">{{trip.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{trip.destination}}</li>
      <li class="list-group-item">from {{trip.beginDate |date:'dd-MM-yyyy'}} to {{trip.endDate | date:'dd-MM-yyyy'}}</li>
      <li class="list-group-item">{{trip.price|currency}}</li>
      <li class="list-group-item">seats available : {{freeSeats}}</li>
      <li class="list-group-item"><rate-trip></rate-trip></li>
      <li class="list-group-item reserve-text">{{reserveText}}</li>
      <li class="list-group-item">
        <button class="r-button" (click)="removeReservation()" id="remove" [hidden]="freeSeats === trip.maxSeats">-</button>
        <button class="r-button" (click)="addReservation()" id="add" [hidden]="freeSeats === 0">+</button>
      </li>
      <li class="list-group-item">
        <button class="btn btn-info btn-lg" style="color:white;" (click)="runEditMode()">Edytuj</button>
      </li>
    </ul>
  </div>
  <edit-trip (tripUpdated)="onTripUpdated($event)" *ngIf="editMode" style="width:47%;" [trip] ="trip"></edit-trip>
</div>
