.star{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 30px;
  height: 30px;
}

.stars{
  display:flex;
  justify-content: space-evenly;
  width:65%;
  margin: 21px auto;
}

.rate-btn{
  width: 20%;
  border-radius:5px;
  border:0;
  font-size:1em;
}