<div class="trip-card">
  <div [ngClass]="{'x-sign': freeSeats === 0}"></div>
  <div class="top-wrapper">
    <div class="image-wrapper">
      <img style="width:100%; height:auto;" [src]='trip.photo' [ngStyle]="{'opacity':freeSeats === 0 ? 0 : 1}">
    </div>
  </div>
  <div id="seats">
    <div id="seatsNumber" [ngStyle]="{'background-color' : seatsAppearance.seatsColor(freeSeats)}">
      {{freeSeats}}
    </div> 
    <span>free places</span>
  </div>
  <h3>{{trip.name | uppercase}}</h3>
  <div [ngClass]="{'stars abs-centered': anyStar, 'blank' : !anyStar}">
    <div class="star"
    *ngFor="let star of stars, index as i" 
    [ngStyle]="{'background-color' : '#ffeb00'}">
    </div>
  </div>
  <p>{{trip.destination}}</p>
  <p class="line"></p>
  <p>from {{trip.beginDate |date:'dd-MM-yyyy'}} to {{trip.endDate | date:'dd-MM-yyyy'}} </p>
  <p class="line"></p>
  <p>{{trip.price|currency}}</p>
  <p class="line"></p>
  <button class="r-button" (click)="removeReservation()" id="remove" [hidden]="freeSeats === trip.maxSeats">-</button>
  <button class="r-button" (click)="addReservation()" id="add" [hidden]="freeSeats === 0">+</button>
    <a routerLink="/Trips/{{trip.name}}" routerLinkActive="active" class="view">Details</a>
</div>
<remove-trip (removed)="handleRemoved()"></remove-trip>

