<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item" *ngIf = "auth.isLoggedIn()">
        <a routerLink="/Trips" routerLinkActive="active" class="nav-link">Trips</a>
      </li>
      <li class="navbar-item" *ngIf = "auth.isLoggedIn()">
        <a routerLink="/New_Trip" routerLinkActive="active" class="nav-link">New trip</a>
      </li>
      <li class="navbar-item" *ngIf = "auth.isLoggedIn()" >
        <a routerLink="/Basket" routerLinkActive="active" class="nav-link">Basket</a>
      </li>
      <li class="navbar-item" *ngIf = "!auth.isLoggedIn()">
        <a routerLink="/Login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
      <li class="navbar-item" *ngIf = "auth.isLoggedIn()">
        <a class="nav-link" (click)="logout()">logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>